stages:
  - test
  - release

variables:
  POETRY_VIRTUALENVS_CREATE: "false"
  PIP_DISABLE_PIP_VERSION_CHECK: "on"
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"

cache:
  paths:
    - .cache/pip
  key: "${CI_COMMIT_REF_SLUG}"

include:
  - component: gitlab.com/thelabnyc/thelab-ci-components/precommit@0.4.0
  - component: gitlab.com/thelabnyc/thelab-ci-components/publish-gitlab-release@0.4.0
  - component: gitlab.com/thelabnyc/thelab-ci-components/publish-to-pypi@0.4.0

test:
  stage: test
  image: "registry.gitlab.com/thelabnyc/python:${IMAGE}"
  script:
    - pip install tox
    - tox
  coverage: '/^TOTAL.+?(\d+\%)$/'
  parallel:
    matrix:
      - IMAGE: py311
        TOX_SKIP_ENV: "^(?!py311-)"
      - IMAGE: py312
        TOX_SKIP_ENV: "^(?!py312-)"
      - IMAGE: py313
        TOX_SKIP_ENV: "^(?!py313-)"
