[tool.poetry]
name = "wagtail-spa-integration"
version = "3.0.0b1"
description = "Tools for using Wagtail API with JavaScript single page apps"
authors = ["thelabnyc <thelabdev@thelabnyc.com>"]
license = "ISC"
classifiers=[
    "Development Status :: 5 - Production/Stable",
    'Environment :: Web Environment',
    'Framework :: Django',
    'Framework :: Wagtail',
    'Programming Language :: Python',
    'Programming Language :: Python :: 3',
    'Intended Audience :: Developers',
    "License :: OSI Approved :: Apache Software License",
]

[tool.poetry.urls]
"homepage" = "https://gitlab.com/thelabnyc/wagtail-spa-integration"

[tool.poetry.dependencies]
python = "^3.7"
wagtail = "^4.1.0"
Django = ">=3.2.0"
wagtail-headless-preview = "^0.2"
django-filter = "^2.3.0"

[tool.poetry.dev-dependencies]
django-cors-headers = "^3.4.0"
django-filter = "^2.3.0"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
